@import 'breakpoints';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

:root{
  --primary: #1877F2;
  --light-dark: #373737;
  --dark: #282828;
  --gray: #CCCCCC;
  --dark-gray: #3b3b3b;
  --darkest: #1c1c1c;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--darkest);
  // overflow: hidden;
}

/*custom scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 0.4vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
  border-radius: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
