@import 'src/breakpoints';
.users{
    padding: 0rem 1rem;
    flex-basis: 25%;
    overflow-y: scroll;
    height: 90vh;
    position: sticky;
    top: 5rem;

    @include sm{
        padding: 0;
        position: static;
    }

    .users_header{
        p{
            font-size: 1.1rem;
            color: var(--gray);
        }
    }

    .users_list{
        padding: 1rem 0rem;
        @include sm{
        display: flex;
        width: 93vw;
        overflow-x: scroll;
    }
    }
}