@import 'src/breakpoints';
.left_sidebar {
  padding: 0rem 0rem;
  flex-basis: 25%;
//   overflow-y: scroll;
  height: 90vh;
  position: sticky;
  top: 5rem;

  @include sm{
    position: static;
  }


  .left_sidebar_list {
    padding: 0rem 0rem;

    @include sm{
        display: flex;
        overflow-x: scroll;
        width: 93vw;
    }
  }

}
